# C++ Files
C++/output/

# C# Files
CSharp/web-server/bin/
CSharp/web-server/obj/
CSharp/general/obj/

# VS Code
.vscode/

# Python build/artifacts
__pycache__/
*.egg-info/

# Java Dir Files
Java/CS11002/assessmentFinal/projbrief/

# Extra stuff
other/Fetchr-5.3-beta5.zip